* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.main_container {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: #fff;
}
header .main_container {
  overflow: hidden;
  padding: 7px 10px;
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .media_menu_container {
  position: relative;
}
header .media_menu_container .media_menu {
  height: 0;
  z-index: -1;
  opacity: 0;
  overflow: hidden;
  padding: 15px;
  border-top: 1px solid #F2AB4D;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 11;
  width: 92%;
  transition: 0.3s ease;
}
header .media_menu_container .media_menu .nav_link_media .nav_item_media {
  padding: 10px;
}
header .media_menu_container .media_menu .nav_link_media .nav_item_media a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #666;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
header .media_menu_container .media_menu .nav_link_media .nav_item_media a img {
  width: 25px;
}
header .media_menu_container .media_menu.active {
  height: 276px;
  z-index: 3;
  opacity: 1;
}
header .nav_search_block {
  transition: 0.4s ease;
  padding: 0;
  display: flex;
  align-items: center;
  height: 0;
  opacity: 0;
  position: relative;
  z-index: -1;
}
header .nav_search_block input {
  cursor: auto;
  width: 100%;
  color: #666;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
header .nav_search_block .search_block_close {
  cursor: pointer;
  width: 20px;
  height: 20px;
}
header .nav_search_block.active {
  padding: 90px 0 50px 0;
  height: 76px;
  opacity: 1;
  z-index: 1;
}
header .nav_link {
  transition: 0.4s ease;
  display: flex;
  align-items: center;
  gap: 22px;
}
header .nav_item a {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #666;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: 0.2s ease;
}
header .nav_item a:hover {
  opacity: 0.5;
}
header .burger_open {
  display: none;
  width: 27px;
  height: 27px;
}
header .burger_open span {
  margin-bottom: 5px;
  display: flex;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #F2AB4D;
}
header .burger_open .bottom_none {
  margin-bottom: 0;
}

.home {
  margin-top: 24px;
}
.home .homeSwiper {
  display: flex;
  align-items: center;
  position: relative;
  transition: 0.3s ease;
}
.home .homeSwiper:hover .homeSwiper_btn {
  opacity: 1;
}
.home .homeSwiper .homeSwiper_btn {
  background-color: #fff;
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  z-index: 10;
  width: 30px;
  height: 30px;
  border: 1px solid #1e3050;
  transition: 0.2s ease;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .homeSwiper .homeSwiper_btn:hover {
  opacity: 1;
}
.home .homeSwiper .homeSwiper_btn img {
  transform: scale(1.2);
  width: 30px;
}
.home .homeSwiper .homeSwiper_next {
  right: 15px;
}
.home .homeSwiper .homeSwiper_prev {
  transform: rotate(180deg);
  left: 15px;
}
.home .homeSwiper .swiper-slide {
  position: relative;
  height: 750px;
}
.home .homeSwiper .swiper-slide img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.home .homeSwiper .swiper-slide h2 {
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 667px;
  margin: 0 auto;
  color: #FFF;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 70px;
  font-style: normal;
  font-weight: 500;
  line-height: 76px;
  letter-spacing: -2.1px;
}
.home .home_text {
  padding: 320px 0 278px 0;
}

.products {
  margin-bottom: 70px;
  margin-top: 50px;
}
.products .main_container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.products .product_card {
  width: calc(50% - 15px);
  position: relative;
}
.products .product_name {
  padding: 11px 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 10px;
  text-transform: uppercase;
  background: rgba(210, 210, 210, 0.84);
}

.product_spotlight .main_container h3 {
  color: #F2AB4D;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 37px;
}
.product_spotlight .main_container p {
  color: #000;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  margin-bottom: 18px;
}
.product_spotlight .main_container .product_spotlight {
  position: relative;
  background-image: url("../images/product_main_bg.png");
  background-repeat: no-repeat;
  text-align: center;
}
.product_spotlight .main_container .product_spotlight h4 {
  color: #FFF;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 43px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 31px 0 4px 0;
}
.product_spotlight .main_container .product_spotlight img {
  margin: 0 auto;
}
.product_spotlight .main_container .product_spotlight p {
  padding: 4px 0 89px 0;
  color: #FFF;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.product_spotlight .main_container .product_spotlight a {
  white-space: nowrap;
  width: 198px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -32px;
  border-radius: 3px;
  color: #666;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: #fff;
  border: 2px solid #F2AB4D;
  transition: 0.25s ease;
}
.product_spotlight .main_container .product_spotlight a img {
  position: absolute;
  right: 21px;
  z-index: -1;
  transition: 0.25s ease;
  margin-left: 5px;
  opacity: 0;
  min-width: 20px;
}
.product_spotlight .main_container .product_spotlight a:hover {
  padding-right: 25px;
  width: 215px;
}
.product_spotlight .main_container .product_spotlight a:hover img {
  right: 11px;
  z-index: 1;
  opacity: 1;
}
.product_spotlight .main_container .product_spotlight_list {
  margin-top: 49px;
  margin-bottom: 70px;
}
.product_spotlight .main_container .product_spotlight_list li {
  padding-left: 30px;
  position: relative;
  color: #000;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 130% */
  margin-bottom: 11px;
}
.product_spotlight .main_container .product_spotlight_list li::after {
  content: " ";
  position: absolute;
  left: 11px;
  top: 35%;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #000;
}
.product_spotlight .main_container .product_spotlight_cards {
  display: flex;
  align-items: start;
  gap: 30px;
  margin-bottom: 54px;
}
.product_spotlight .main_container .product_spotlight_cards .product_spotlight_card {
  display: flex;
  flex-direction: column;
  width: calc(50% - 15px);
}
.product_spotlight .main_container .product_spotlight_cards .product_spotlight_card h4 {
  color: #000;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.product_spotlight .main_container .product_spotlight_cards .product_spotlight_card img {
  height: 276px;
  -o-object-fit: contain;
     object-fit: contain;
}
.product_spotlight .main_container .product_spotlight_cards .product_spotlight_card .product_spotlight_card_link {
  display: block;
  height: 44px;
  color: #FFF;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  background: #000;
}

.news {
  padding: 54px 0 93px 0;
  background: #EDEDED;
}
.news .main_container h2 {
  color: #333;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 3px;
}
.news .main_container p {
  color: #848484;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 41px;
}
.news .main_container .news_cards {
  display: flex;
  align-items: start;
  gap: 30px;
}
.news .main_container .news_cards .new_card {
  border-radius: 30px;
  overflow: hidden;
  width: calc(33.3333333333% - 15px);
  background: #FFF;
  filter: drop-shadow(0px 12px 18px rgba(0, 0, 0, 0.25));
}
.news .main_container .news_cards .new_card .new_card_text {
  padding: 25px;
}
.news .main_container .news_cards .new_card .new_card_text h5 {
  color: #333;
  text-align: justify;
  font-family: "Lato", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 18px;
}
.news .main_container .news_cards .new_card .new_card_text p {
  color: #666;
  text-align: justify;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 24px;
}
.news .main_container .news_cards .new_card .new_card_text button {
  padding: 5px 13px;
  color: #000;
  text-align: justify;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 10px;
  border: 1px solid #F2AB4D;
  background: #FFF;
}

footer {
  background: #1E1E1E;
}
footer .main_container {
  padding: 64px 0 50px 0;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
footer .main_container h4 {
  color: #CECECE;
  text-align: justify;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 9px;
}
footer .main_container p {
  color: #CECECE;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
footer .main_container .footer_left {
  max-width: 336px;
}
footer .main_container .footer_left .subscrib {
  margin-top: 22px;
  color: #CECECE;
  text-align: justify;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
footer .main_container .footer_right {
  max-width: 281px;
}

.footer_bottom {
  background: #0A0A0A;
}
.footer_bottom .main_container {
  padding: 15px 0;
}
.footer_bottom .main_container p {
  color: #C0C0C0;
  text-align: justify;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.footer_bottom .main_container p a {
  font-weight: 600;
  text-decoration-line: underline;
  transition: 0.2s ease;
}
.footer_bottom .main_container p a:hover {
  color: #666;
}
.footer_bottom .main_container .footer_messenger {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer_bottom .main_container .footer_messenger a img {
  transition: 0.2s ease;
}
.footer_bottom .main_container .footer_messenger a:hover img {
  opacity: 0.5;
}

@media only screen and (max-width: 992px) {
  .main_container {
    padding: 0 40px;
  }
  header .main_container {
    padding: 0 40px;
  }
  header .nav {
    width: 70%;
    justify-content: end;
  }
  header .nav .nav_item {
    display: none;
  }
  header .nav .nav_search {
    margin-left: auto;
    display: block;
  }
  header .nav .nav_search.active {
    padding: 72px 0 50px 0;
  }
  header .nav .burger_open {
    display: block;
  }
  .home .homeSwiper .swiper-slide {
    height: 600px;
  }
  .home .homeSwiper .swiper-slide h2 {
    font-size: 42px;
    line-height: 42px;
  }
  .products .product_card {
    width: 100%;
  }
  .products .product_card img {
    width: 100%;
  }
  .product_spotlight .main_container .product_spotlight_cards {
    flex-direction: column;
  }
  .product_spotlight .main_container .product_spotlight_cards .product_spotlight_card {
    width: 100%;
  }
  .news .main_container .news_cards {
    flex-direction: column;
  }
  .news .main_container .news_cards .new_card {
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
    width: 100%;
  }
  .news .main_container .news_cards .new_card img {
    width: 100%;
  }
  footer .main_container {
    padding: 64px 40px 50px 40px;
    flex-direction: column;
    gap: 40px;
  }
  footer .footer_bottom .main_container {
    padding: 15px 40px;
    flex-direction: column-reverse;
    gap: 15px;
  }
  footer .footer_bottom .main_container .footer_messenger {
    margin: 0 auto;
  }
}
@media only screen and (min-width: 992px) {
  header .media_menu_container .media_menu {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  header .main_container {
    height: 60px;
  }
  header .main_container .nav {
    width: 60%;
  }
  header .main_container .nav_search_block.active {
    padding: 70px 0 50px 0;
  }
  header .media_menu_container .media_menu {
    width: 90%;
  }
  .home .homeSwiper .swiper-slide h2 {
    font-size: 36px;
    line-height: 40px;
  }
  .products .product_name {
    font-size: 16px;
  }
  .news .main_container .news_cards .new_card {
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
  }
}
@media only screen and (max-width: 576px) {
  .main_container {
    padding: 0 20px;
  }
  header .media_menu_container .media_menu {
    width: 80%;
  }
}/*# sourceMappingURL=style.css.map */