* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

$Lato: 'Lato', sans-serif;
$Montserrat: 'Montserrat', sans-serif;

a {
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.main_container {
    max-width: 1190px;
    padding: 0 10px;
    margin: 0 auto;
}


// header
header {
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: #fff;
    .main_container {
        overflow: hidden;
        padding: 7px 10px;
        height: 76px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        
    }
    
    .media_menu_container {
        overflow: visible;
        position: relative;
        .media_menu {
            height: 0;
            z-index: -1;
            opacity: 0;
            overflow: hidden;
            padding: 15px;
            border-top: 1px solid #F2AB4D;
            background-color: #fff;
            position: absolute;
            top: 70px;
            left: 0;
            right: 0;
            margin: 0 auto;
            z-index: 11;
            width: 92%;
            transition: .3s ease;

            .nav_link_media {
                .nav_item_media {
                    padding: 10px;

                    a {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        color: #666;
                        font-family: $Lato;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;

                        img {
                            width: 25px;
                        }
                    }
                }
            }
        }

        .media_menu.active {
            height: 276px;
            z-index: 3;
            opacity: 1;
        }
    }

    .nav_search_block {
        transition: .4s ease;
        padding: 0;
        display: flex;
        align-items: center;
        height: 0;
        opacity: 0;
        position: relative;
        z-index: -1;

        input {
            cursor: auto;
            width: 100%;
            color: #666;
            font-family: $Lato;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .search_block_close {
            cursor: pointer;
            width: 20px;
            height: 20px;
        }
    }

    .nav_search_block.active {
        padding: 90px 0 50px 0;
        height: 76px;
        opacity: 1;
        z-index: 1;
    }
    
    .nav_link {
        transition: .4s ease;
        display: flex;
        align-items: center;
        gap: 22px;
    }

    .nav_item {
        a {
            display: flex;
            align-items: center;
            gap: 4px;
            color: #666;
            font-family: $Lato;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            transition: .2s ease;

            &:hover {
                opacity: .5;
            }
        }
    }

    .burger_open {
        display: none;
        width: 27px;
        height: 27px;
        span {
            margin-bottom: 5px;
            display: flex;
            width: 100%;
            height: 3px;
            border-radius: 5px;
            background-color: #F2AB4D;
        }
        .bottom_none {
            margin-bottom: 0;
        }
    }
}
// header

// home
.home {
    margin-top: 24px;

    .homeSwiper {
        display: flex;
        align-items: center;
        position: relative;
        transition: .3s ease;

        &:hover {
            .homeSwiper_btn {
                opacity: 1;
            }
        }

        .homeSwiper_btn {
            background-color: #fff;
            cursor: pointer;
            position: absolute;
            border-radius: 50%;
            z-index: 10;
            width: 30px;
            height: 30px;
            border: 1px solid #1E3050FF;
            transition: .2s ease;
            opacity: 0;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                opacity: 1;
            }

            img {
                transform: scale(1.2);
                width: 30px;
            }
        }

        .homeSwiper_next {
            right: 15px;
        }
        
        .homeSwiper_prev {
            transform: rotate(180deg);
            left: 15px;
        }
        .swiper-slide {
            position: relative;
            height: 750px;

            img {
                width: 100%;
                object-fit: cover;
                height: 100%;
            }

            h2 {
                position: absolute;
                z-index: 3;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                max-width: 667px;
                margin: 0 auto;
                color: #FFF;
                text-align: center;
                font-family: $Montserrat;
                font-size: 70px;
                font-style: normal;
                font-weight: 500;
                line-height: 76px;
                letter-spacing: -2.1px;
            }
        }
    }
    .home_text {
        padding: 320px 0 278px 0;
    }
}
// home

// products
.products {
    margin-bottom: 70px;
    margin-top: 50px;
    .main_container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
        
    }

    .product_card {
        width: calc(100% / 2 - 15px);
        position: relative;
    }

    .product_name {
        padding: 11px 10px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #000;
        text-align: center;
        font-family: $Lato;
        font-size: 21px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border-radius: 10px;
        text-transform: uppercase;
        background: rgba(210, 210, 210, 0.84);
    }
}
// products

// product_spotlight
.product_spotlight {
    .main_container {
        h3 {
            color: #F2AB4D;
            text-align: center;
            font-family: $Lato;
            font-size: 23px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 37px;
        }

        p {
            color: #000;
            text-align: center;
            font-family: $Lato;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 25px;
            margin-bottom: 18px;
        }

        .product_spotlight {
            position: relative;
            background-image: url('../images/product_main_bg.png');
            background-repeat: no-repeat;
            text-align: center;

            h4 {
                color: #FFF;
                text-align: center;
                font-family: $Montserrat;
                font-size: 43px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                padding: 31px 0 4px 0;
            }

            img {
                margin: 0 auto;
            }

            p {
                padding: 4px 0 89px 0;
                color: #FFF;
                text-align: center;
                font-family: $Montserrat;
                font-size: 25px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }

            a {
                white-space: nowrap;
                // padding: 13px 21px;
                width: 198px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;
                bottom: -32px;
                border-radius: 3px;
                color: #666;
                text-align: center;
                font-family: $Montserrat;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                background: #fff;
                border: 2px solid #F2AB4D;
                transition: .25s ease;

                img {
                    position: absolute;
                    right: 21px;
                    z-index: -1;
                    transition: .25s ease;
                    margin-left: 5px;
                    opacity: 0;
                    min-width: 20px;
                }

                &:hover {
                    padding-right: 25px;
                    width: 215px;

                    img {
                        right: 11px;
                        z-index: 1;
                        opacity: 1;
                    }
                }
            }
        }

        .product_spotlight_list {
            margin-top: 49px;
            margin-bottom: 70px;
            li {
                padding-left: 30px;
                position: relative;
                color: #000;
                font-family: $Lato;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 26px; /* 130% */
                margin-bottom: 11px;

                &::after {
                    content: ' ';
                    position: absolute;
                    left: 11px;
                    top: 35%;
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                    background-color: #000;
                }
            }
        }

        .product_spotlight_cards {
            display: flex;
            align-items: start;
            gap: 30px;
            margin-bottom: 54px;

            .product_spotlight_card {
                display: flex;
                flex-direction: column;
                width: calc(100% / 2 - 15px);

                h4 {
                    color: #000;
                    text-align: center;
                    font-family: $Montserrat;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    text-transform: uppercase;
                }

                img {
                    height: 276px;
                    object-fit: contain;
                }

                .product_spotlight_card_link {
                    display: block;
                    height: 44px;
                    color: #FFF;
                    text-align: center;
                    font-family: $Montserrat;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    text-transform: uppercase;
                    background: #000;
                }
            }
        }
    }
}
// product_spotlight


// news
.news {
    padding: 54px 0 93px 0;
    background: #EDEDED;

    .main_container {
        h2 {
            color: #333;
            text-align: center;
            font-family: $Montserrat;
            font-size: 48px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-bottom: 3px;
        }

        p {
            color: #848484;
            text-align: center;
            font-family: $Montserrat;
            font-size: 22px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-bottom: 41px;
        }

        .news_cards {
            display: flex;
            align-items: start;
            gap: 30px;

            .new_card {
                border-radius: 30px;
                overflow: hidden;
                width: calc(100% / 3 - 15px);
                background: #FFF;
                filter: drop-shadow(0px 12px 18px rgba(0, 0, 0, 0.25));

                .new_card_text {
                    padding: 25px;

                    h5 {
                        color: #333;
                        text-align: justify;
                        font-family: $Lato;
                        font-size: 17px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        margin-bottom: 18px;
                    }

                    p {
                        color: #666;
                        text-align: justify;
                        font-family: $Lato;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        margin-bottom: 24px;
                    }

                    button {
                        padding: 5px 13px;
                        color: #000;
                        text-align: justify;
                        font-family: $Lato;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        border-radius: 10px;
                        border: 1px solid #F2AB4D;
                        background: #FFF;
                    }
                }
            }
        }
    }
}
// news


// footer
footer {
    background: #1E1E1E;

    .main_container {
        padding: 64px 0 50px 0;
        display: flex;
        align-items: start;
        justify-content: space-between;

        h4 {
            color: #CECECE;
            text-align: justify;
            font-family: $Lato;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 9px;
        }

        p {
            color: #CECECE;
            font-family: $Lato;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 21px;
        }

        .footer_left {
            max-width: 336px;

            .subscrib {
                margin-top: 22px;
                color: #CECECE;
                text-align: justify;
                font-family: $Lato;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }

        .footer_right {
            max-width: 281px;
        }
    }

}
// footer

// footer_bottom
.footer_bottom {
    background: #0A0A0A;
    
    .main_container {
        padding: 15px 0;
        

        p {
            color: #C0C0C0;
            text-align: justify;
            font-family: $Lato;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

            a {
                font-weight: 600;
                text-decoration-line: underline;
                transition: .2s ease;

                &:hover {
                    color: #666;
                }
            }
        }

        .footer_messenger {
            display: flex;
            align-items: center;
            gap: 20px;

            a {
                img {
                    transition: .2s ease;
                }

                &:hover {
                    img {
                        opacity: .5;
                    }
                }
            }
        }
    }
}
// footer_bottom



// import file scss

@import './scss/variables';
@import './scss/header';
@import './scss/footer';
@import './scss/responsive';
