@media only screen and (max-width: 1250px) {
    #about {
        .philosophy {
            padding: 40px;
        }
    }
}

@media only screen and (max-width: 1060px) {
    header {
        .product_menu {
            .dropdown_link_item {
                a {
                    width: calc(100% / 4);
                }
                .media_none {
                    display: none !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .main_container {
        padding: 0 40px;
    }

    header {
        .main_container {
            padding: 0 40px;
        }

        .nav {
            width: 70%;
            justify-content: end;
            .nav_item {
                display: none;
            }   
            
            .nav_search {
                margin-left: auto;
                display: block;
            }

            .nav_search.active {
                padding: 72px 0 50px 0;
            }

            .burger_open {
                display: block;
            }
        }

        .support_menu {
            display: none !important;
        }

        .reference_menu {
            display: none !important;
        }

        .product_menu {
            display: none !important;
        }

        .media_menu_container {
            .media_menu {
                .nav_link_media {
                    .nav_item_media {
                        .nav_item_main_img {
                            transition: .2s ease;
                            transform: rotate(0deg);
                        }

                        .support_media_menu {
                            display: none;
                        }

                        .support_media_menu.active {
                            display: flex;
                        }
                    }

                    .nav_item_media.active {
                        .nav_item_main_img {
                            transform: rotate(178deg);
                        }
                    } 
                }
            }
        }
    }

    .home {
        .homeSwiper {
            .swiper-slide {
                height: 600px;

                h2 {
                    font-size: 42px;
                    line-height: 42px;
                }
            }
        }
    }

    .products {
        .product_card {
            width: calc(100%);

            img {
                width: 100%;
            }
        }
    }

    .product_spotlight {
        .main_container {
            .product_spotlight_cards {
                flex-direction: column;

                .product_spotlight_card {
                    width: 100%;
                }
            }
        }
    }

    .news {
        .main_container {
            .news_cards {
                flex-direction: column;

                .new_card {
                    border-top-right-radius: 60px;
                    border-top-left-radius: 60px;
                    width: calc(100%);

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    footer {
        .main_container {
            padding: 64px 40px 50px 40px;
            flex-direction: column;
            gap: 40px;
        }

        .footer_bottom {
            .main_container {
                padding: 15px 40px;
                flex-direction: column-reverse;
                gap: 15px;

                .footer_messenger {
                    margin: 0 auto;
                }
            }
        }
    }

    #contact {

        .contact_form {

            .main_container  {
                p {
                    margin: 24px 0 50px 0;
                }
            }
        }

        .contact_messenger {
            align-items: center;
            flex-direction: column;
            gap: 30px;

            .contact_messenger_block {
                .contact_date {
                    margin: 27px auto 0 auto;
                }

                h4 {
                    margin-bottom: 30px;
                }
            }
        }

        .contact_map {
            iframe {
                height: 350px;
            }
        }
    }

    #soft {
        .main_container {
            flex-wrap: wrap;
            .soft_card {
                width: calc(100% / 2 - 15px);
            }
        }
    }

    #soft_two {
        .main_container {
            align-items: center;
            flex-direction: column;
        }
    }

    #news {
        .main_container {
            .newsSlider {
                .swiper-slide {
                    h2 {
                        font-size: 36px;
                    }
                }
            }
        }
    }

    .news_cards_in {
        .main_container {
            .news_card_block {
                width: calc(100% / 2 - 15px);
                
            }
        }

        .reference_bottom {
            .main_container {
                flex-direction: column;
                align-items: center;

                .reference_card {
                    width: 100%;
                    img {
                        height: auto;
                    }
                }
            }
        }
    }

    .news_form_wrapper {
        .main_container {
            .news_form {
                .news_form_inputs {
                    flex-wrap: wrap;
                    .news_form_input {
                        width: calc(100% / 2 - 10px);
                        
                        input {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    #update {
        .main_container {
            .update_top {
                .ark_soft_btns {
                    flex-direction: column;
                    align-items: center;
                    gap: 30px;
                    
                    a {
                        width: 400px;
                        gap: 30px;
                    }
                }
            }

            .update_bottom {
                .update_cards {
                    flex-direction: column;
                    align-items: center;
                    gap: 30px;
                }
            }
        }
    }

    #update {
        .main_container {
            .update_top {
                .update_list {
                    gap: 0;
                    .update_list_block {
                        width: calc(100%);
                    }
                }
            }
        }
    }

    #new {
        .main_container {
            flex-direction: column;

            .new_main {
                border-right: 0;
                padding-right: 0;

                .other_news {
                    .other_news_in {
                        flex-direction: column;

                        .other_new_card {
                            width: 100%;

                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }

            .new_aside {
                padding: 0 0 54px 0;
                max-width: 100%;
                width: 100%;
                padding-left: 0;

                .new_aside_form {
                    margin: 0 auto;
                }
            }
        }
    }

    #products {
        .main_container {
            .product_cards {
                .product_card {
                    width: calc(100% / 2 - 15px);
                }
            }

            .products_form {
                flex-direction: column;

                .products_form_left {
                    max-width: 100%;
                }

                .products_form_right {
                    width: 100%;
                }
            }
        }
    }

    #coaxial {
        .main_container {
            .coaxial_series {
                .coaxial_series_in {
                    flex-direction: column;
                }

                .coaxial_series_cards {
                    .coaxial_series_cards_top, 
                    .coaxial_series_cards_bottom {
                        justify-content: center;
                    }

                    .coaxial_series_cards_bottom {
                        margin-bottom: 54px;
                    }
                }
            }
        }
    }

    .about_cards {
        .about_card {
            margin-bottom: 30px;
            flex-direction: column;

            .about_card_left  {
                img {
                    max-width: 100%;
                }
            }

            .about_card_right {
                width: 544px;
            }
        }

        .about_card_top, 
        .about_card_right {
            margin-bottom: 30px;
        }
    }

    .about_technology {
        .about_technology_cards {
            flex-wrap: wrap;
            justify-content: center;
            .about_technology_card {
                max-width: 100%;
                width: calc(100% / 2 - 30px);
            }
        }
    }

    .about_contact {
        .contact_messengers {
            flex-direction: column;
            align-items: center;
        }
    }
    
    #cls {
        .cls_home {
            flex-direction: column;

            .cls_home_left  {
                img {
                    width: 100%;
                }
            }
        }

        .cls_discription {
            flex-direction: column;
            gap: 30px;

            .cls_discription_right {
                .cls_discription_right_top {
                    margin-top: 0px;
                }
            }
        }

        .cls_technical {
            flex-direction: column;
        }

        .dsp_confugration {
            .dsp_features {
                flex-direction: column;
                align-items: center;

                .dsp_features_right {
                    width: 100%;
                }
            }
        }

        .cls_download  {
            .main_container {
                flex-wrap: wrap;
                .cls_download_card {
                    width: 100%;
                    width: calc(100% / 3);
                }
            }
        }

        .cls_cards {
            margin: 30px 0;
            gap: 10px;
            .cls_card {
                width: calc(100%);
            }
        }
    }

    #download {

        .download_home {
            h3 {
                font-size: 36px;
            }
        }

        .product_spotlight_cards {
            flex-direction: column;

            .product_spotlight_card {
                width: 100%;

                .product_spotlight_card_link {
                    font-size: 18px;
                }
            }
        }

        .catalog_series {
            display: none;
        }

        .catalog_series_mobile {
            display: block;
        }

        
    }

    #about {
        .about_home {
            .video_modal {
                max-width: 90%;
                width: 90%;
                height: 300px;
            }
        }
    }


    .footer_modal {
        .main_container {
            flex-direction: column;
            gap: 10px;

            p {
                margin-right: 0;
                text-align: center;
            }
        }
    }

}

@media only screen and (min-width: 992px) {
    header {
        .media_menu_container {
            .media_menu {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    header {
        .main_container {
            height: 60px;

            .nav {
                width: 60%;
            }

            .nav_search_block.active {
                padding: 70px 0 50px 0;
            }
        }

        .media_menu_container {
            .media_menu {
                width: 90%;
            }
        }
    }

    .home {
        .homeSwiper {
            .swiper-slide {
                h2 {
                    font-size: 36px;
                    line-height: 40px;
                }
            }
        }
    }

    .products {
        .product_name {
            font-size: 16px;
        }
    }

    .news {
        .main_container {
            .news_cards {

                .new_card {
                    border-top-right-radius: 30px;
                    border-top-left-radius: 30px;
                }
            }
        }
    }

    #contact {
        .contact_form {
            .main_container {
                .contact_form_main {
                    .contact_form_top {
                        gap: 14px;
                        flex-direction: column;
                    }
                }
            }
        }

        .contact_map {
            iframe {
                height: 220px;
            }
        }
    }

    #soft {
        padding: 50px 0;
        .main_container {
            flex-wrap: wrap;
            .soft_card {
                width: calc(100%);
            }
        }
    }

    #policy {
        margin: 50px 0 50px 0;

        .main_container {
            p {
                margin-bottom: 15px;
            }
        }
    }

    .news_cards_in {
        .main_container {
            .news_card_block {
                width: calc(100%);
                
            }
        }
    }

    .news_form_wrapper {
        .main_container {
            .news_form {
                .news_form_inputs {
                    .news_form_input {
                        width: calc(100%);
                    }
                }
            }
        }
    }

    #new {
        .main_container {
            flex-direction: column;

            .new_main {
                border-right: 0;
                padding-right: 0;
            }

            .new_aside {
                max-width: 100%;
                width: 100%;
                padding-left: 0;

                .new_aside_form {
                    width: 100%;
                    margin: 0 auto;
                }
            }
        }
    }

    #products {
        .main_container {
            .product_cards {
                .product_card {
                    width: calc(100%);
                }
            }

            .processors_card {
                margin: 0 auto;
            }

            .power_cards {
                .power_card {
                    margin: 0 auto;
                }

            }

            .software_card {
                margin: 0 auto;
            }
        }
    }

    #catalogues {

        .catalogues_home {
            img {
                height: 220px;
            }
            
            h3 {
                font-size: 36px;
            }
        }

        .catalogues_main {
            .catalogues_main_btns {
                flex-direction: column;

                img {
                    width: 26px;
                }
            }
        }

        .catalogues_cards {
            flex-direction: column;
            
            .catalogues_card {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
            }
        }
    }

    #coaxial {
        .coaxial_home {
            .slider_text {
                h2 {
                    font-size: 39px;
                }

                span {
                    font-size: 20px;
                }
            }
            .coaxialSwiper {
                .swiper-slide {
                    height: 540px;
                }
            }
        }
        .main_container {
            .coaxial_series {
                .coaxial_configuration {
                    .coaxial_panel {
                        .coaxial_panel_block {
                            padding-right: 0;
                            flex-direction: column;
                        }
                    }
                }
            }
        }
    }

    .about_technology {
        .about_technology_cards {
            flex-wrap: wrap;
            justify-content: center;
            .about_technology_card {
                max-width: 100%;
                width: calc(100%);
            }
        }
    }

    #about {
        .about_home {
            height: 425px;

            .about_btn {
                width: 80px;
                height: 80px;

                span {
                    left: -5px;
                    white-space: nowrap;
                    bottom: -35px;
                }
            }
        }

        .philosophy {
            height: auto;
            .philosophy_text {
                padding: 30px;
            }
        }
    }

    #ocs {
        .main_container {
            .ocs_home {
                flex-direction: column;
            }
            .ocs_technology_cards {
                gap: 30px;
            }

            .ocs_block_download  {
                .ocs_download_cards {
                    .ocs_download_card {
                        width: calc(100%);
                    }
                }
            }
        }

    }

    
}

@media only screen and (max-width: 576px) {
    .main_container {
        padding: 0 20px;
    }
    
    .news_form_wrapper {
        margin: 0 20px;
    }

    #products {
        .main_container {
            .breadcrumb {
                flex-wrap: wrap;
            }
        }
    }

    #news {
        .main_container {
            .newsSlider {
                .swiper-slide {
                    a {
                        top: 80%;
                        width: 120px;
                        height: 40px;
                    }
                }
            }
        }
    }

    #update {
        .main_container {
            .update_top {
                .ark_soft_btns {
                    a {
                        gap: 15px;
                        width: 300px;

                        span {
                            margin-left: 55px;
                        }
                    }
                }
            }
        }
    }

    #products {
        .main_container {
            .products_form {
                .products_form_right {
                    .inputs {
                        flex-direction: column;
                    }
                }
            }
        }
    }

    header {
        .media_menu_container {
            .media_menu {
                width: 90%;
            }
        }
    }

    #cls {
        .dsp_confugration {
            .dsp_features {
                .dsp_features_left {
                    .dsp_features_left_in {
                        .dsp_features_left_block {
                            flex-direction: column;
                            gap: 20px;
                        }
                    }
                }

                .dsp_features_right  {
                    .dsp_features_right_in  {
                        .dsp_features_right_block {
                            gap: 20px;
                            flex-direction: column;
                        }
                    }
                }
            }
        }

        .cls_download {
            .main_container {
                .cls_download_card {
                    width: calc(100%);
                }
            }
        }
    }

    #about {
        .philosophy {
            padding: 10px;

            .philosophy_text {
                .philosophy_text_p {
                    margin-bottom: 15px;
                }
            }
        }

        .about_home {
            .about_btn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 55px;
                height: 55px;

                img {
                    max-width: 25px;
                }
                span {
                    font-size: 16px;
                    left: -10px;
                    bottom: -25px;
                }
            }
        }
    }
}