@media only screen and (max-width: 992px) {
    .main_container {
        padding: 0 40px;
    }

    header {
        .main_container {
            padding: 0 40px;
        }

        .nav {
            width: 70%;
            justify-content: end;
            .nav_item {
                display: none;
            }   
            
            .nav_search {
                margin-left: auto;
                display: block;
            }

            .nav_search.active {
                padding: 72px 0 50px 0;
            }

            .burger_open {
                display: block;
            }
        }
    }

    .home {
        .homeSwiper {
            .swiper-slide {
                height: 600px;

                h2 {
                    font-size: 42px;
                    line-height: 42px;
                }
            }
        }
    }

    .products {
        .product_card {
            width: calc(100%);

            img {
                width: 100%;
            }
        }
    }

    .product_spotlight {
        .main_container {
            .product_spotlight_cards {
                flex-direction: column;

                .product_spotlight_card {
                    width: 100%;
                }
            }
        }
    }

    .news {
        .main_container {
            .news_cards {
                flex-direction: column;

                .new_card {
                    border-top-right-radius: 60px;
                    border-top-left-radius: 60px;
                    width: calc(100%);

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    footer {
        .main_container {
            padding: 64px 40px 50px 40px;
            flex-direction: column;
            gap: 40px;
        }

        .footer_bottom {
            .main_container {
                padding: 15px 40px;
                flex-direction: column-reverse;
                gap: 15px;

                .footer_messenger {
                    margin: 0 auto;
                }
            }
        }
    }

    #contact {

        .contact_form {

            .main_container  {
                p {
                    margin: 24px 0 50px 0;
                }
            }
        }

        .contact_messenger {
            align-items: center;
            flex-direction: column;
            gap: 30px;

            .contact_messenger_block {
                .contact_date {
                    margin: 27px auto 0 auto;
                }

                h4 {
                    margin-bottom: 30px;
                }
            }
        }

        .contact_map {
            iframe {
                height: 350px;
            }
        }
    }

    #soft {
        .main_container {
            flex-wrap: wrap;
            .soft_card {
                width: calc(100% / 2 - 15px);
            }
        }
    }

    #soft_two {
        .main_container {
            align-items: center;
            flex-direction: column;
        }
    }

    #news {
        .main_container {
            .newsSlider {
                .swiper-slide {
                    h2 {
                        font-size: 36px;
                    }
                }
            }
        }
    }

    .news_cards_in {
        .main_container {
            .news_card_block {
                width: calc(100% / 2 - 15px);
                
            }
        }
    }

}

@media only screen and (min-width: 992px) {
    header {
        .media_menu_container {
            .media_menu {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    header {
        .main_container {
            height: 60px;

            .nav {
                width: 60%;
            }

            .nav_search_block.active {
                padding: 70px 0 50px 0;
            }
        }

        .media_menu_container {
            .media_menu {
                width: 90%;
            }
        }
    }

    .home {
        .homeSwiper {
            .swiper-slide {
                h2 {
                    font-size: 36px;
                    line-height: 40px;
                }
            }
        }
    }

    .products {
        .product_name {
            font-size: 16px;
        }
    }

    .news {
        .main_container {
            .news_cards {

                .new_card {
                    border-top-right-radius: 30px;
                    border-top-left-radius: 30px;
                }
            }
        }
    }


    #contact {
        .contact_form {
            .main_container {
                .contact_form_main {
                    .contact_form_top {
                        gap: 14px;
                        flex-direction: column;
                    }
                }
            }
        }

        .contact_map {
            iframe {
                height: 220px;
            }
        }
    }

    #soft {
        padding: 50px 0;
        .main_container {
            flex-wrap: wrap;
            .soft_card {
                width: calc(100%);
            }
        }
    }

    #policy {
        margin: 50px 0 50px 0;

        .main_container {
            p {
                margin-bottom: 15px;
            }
        }
    }

    .news_cards_in {
        .main_container {
            .news_card_block {
                width: calc(100%);
                
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .main_container {
        padding: 0 20px;
    }

    header {
        .media_menu_container {
            .media_menu {
                width: 80%;
            }
        }
    }
}